[user]
	name = Linh Tran
	email = linh.mtran168@live.com
[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/local/bin/vim
[alias]
	lg = log --all --graph --decorate --oneline
[color]
	ui = true
[push]
	default = simple
[http]
[ghq]
	root = ~/Dev
[credential]
	helper = osxkeychain
[merge]
	tool = vimdiff
[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX
[pull]
	rebase = false

; Custom include
; [includeIf "gitdir:~/Dev/github.com/linhmtran168/"]
;   path = ~/.personal.gitconfig
